<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titl %}

        {% endblock %}
    </title>
    <!-- add css -->
    <link rel="stylesheet" href="../../static/css/style.css">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- bostrp end -->


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('views.index')}}">SPARTA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <ul class="navbar-nav   mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{url_for('auth.log')}}">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('auth.signup')}}">sign.up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('auth.logout')}}">log.out</a>
                </li>
            </ul>

            <div class="avatar">
                <h3>KR</h3>
            </div>
        </div>


    </nav>

    <div class="popup-card">

        <div class="doc hide" style="white-space: pre-line;">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <b>
                content

            </b>
        </div>
    </div>


    <div class="card-container">


        <div class="notes-card d-flex flex-column">

            <div class="note-header">
                <h5>note 2</h5>
                <p>{{x.shred_by}}</p>
            </div>
            <div class="note mt-5 mb-5">

                <div class="note-body">
                    <b>{{x.content}}
                        sdfs

                    </b>
                </div>

            </div>
            <!-- add bootstrap button -->

            <button class="btn delbtn btn-primary">DEL
                <!-- <a href="{{url_for('auth.logout')}}">log.out</a> -->
            </button>

        </div>

        <div class="notes-card d-flex flex-column">

            <div class="note-header">
                <h5>note 2</h5>
                <p>{{x.shred_by}}</p>
            </div>
            <div class="note mt-5">

                <div class="note-body" style="white-space: pre-line;">
                    <b>{{indent(x.content)}}
                        sd
                        fs
                        fgrrtyrty
                        gfghrtyrthh
                        fghfgh
                        d content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        content
                        fs
                        fgrrtyrty
                        gfghrtyrthh
                        fghfghd

                    </b>
                </div>


            </div> <button class="btn delbtn btn-primary">DEL
                <!-- <a href="{{url_for('auth.logout')}}">log.out</a> -->
            </button>
            {%endfor%}
        </div>
        <div class="notes-card d-flex flex-column">

            <div class="note-header">
                <h5>note 2</h5>
                <p>{{x.shred_by}}</p>
            </div>
            <div class="note mt-5">

                <div class="note-body">
                    <b>{{x.content}}
                        sdfs

                    </b>
                </div>

            </div>
            {%endfor%}
        </div>
        <div class="notes-card d-flex flex-column">

            <div class="note-header">
                <h5>note 2</h5>
                <p>{{x.shred_by}}</p>
            </div>
            <div class="note mt-5 mb-5">

                <div class="note-body">
                    <b>{{x.content}}
                        sdfs

                    </b>
                </div>

            </div>
            <!-- add bootstrap button -->

            <button class="btn delbtn btn-primary">DEL
                <!-- <a href="{{url_for('auth.logout')}}">log.out</a> -->
            </button>

        </div>
        <div class="notes-card d-flex flex-column">

            <div class="note-header">
                <h5>note 2</h5>
                <p>{{x.shred_by}}</p>
            </div>
            <div class="note mt-5 mb-5">

                <div class="note-body">
                    <b>{{x.content}}
                        sdfs

                    </b>
                </div>

            </div>
            <!-- add bootstrap button -->

            <button class="btn delbtn btn-primary">DEL
                <!-- <a href="{{url_for('auth.logout')}}">log.out</a> -->
            </button>

        </div>









    </div>









    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="./test.js"></script>
</body>

</html>