{% include "./imports/header.html" %}

<div class="notes-card d-flex flex-column align-items-center">
    {%for x in notes%}
    <!-- <p>{{x}}</p> -->
    <div class="note  mt-5">
        <div class="note-header">
            <h3>note {{x.note_id}}</h3>
            <p>{{x.shred_by}}</p>
        </div>
        <div class="note-body">
            <b>{{x.content}}</b>
        </div>
        <div class="note-footer">
            <p> sahred by user : <b>{{x.shred_by}}</b></p>
        </div>
    </div>
    {%endfor%}
</div>


{% include "./imports/footer.html" %}