{% include "./imports/header.html" %}



<div class="popup-card">

    <div class="doc hide" style="white-space: pre-line;">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <b>content
        </b>
    </div>
</div>


<div class="card-container">

    {%for x in notes %}

    <div class="notes-card d-flex flex-column">

        <!--     
        for x in res:
            id = x['note_id']
            # print(note.find_one({'id': id})['content'])
            notes.append(note.find_one({'id': id})['content'])
     -->
        <div class="note-header">
            <h5> note {{ loop.index0 }}</h5>
            <!-- {%if user!=x.shred_by%} -->
            <p>Shared by - {{x['user_id']}}</p>
            <!-- 

            {%else%}
            <p>Shared by - ME</p>

            {%endif%} -->
        </div>
        <div class="note mt-5">

            <div class="note-body" style="white-space: pre-line;">
                <b>{{x}}</b>

            </div>
            <button class="btn delbtn btn-primary">DEL
                <!-- <a href="{{url_for('auth.logout')}}">log.out</a> -->
            </button>

        </div>

    </div>
    {%endfor%}

</div>



{% include "./imports/footer.html" %}