<form action="/details" method="post">
    <div class="mb-3">
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="GIVE ME YOUR NAME REAL QUICK" name="f-name">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder=". . . . YOUR NAME REAL QUICK" name="l-name">
    </div>
    <div class="mb-3">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder=". . . . YOUR EMAIL REAL QUICK" name="email">
        >
    </div>


    <button type="submit" class="btn btn-outline-dark px-5">Submit</button>
</form>