* {
    padding: 0;
    margin: 0;
}

h1 {

    font-size: 9vw;
}


h3 {
    font-size: 3vw;
}

.intro {
    display: flex;
    justify-content: center;
    background-color: #222831;
    flex-direction: column;
    // margin-bottom: 10%;
    padding: 15vw;
    height: 85vh;
    text-align: center;


    h1 {
        color: #EEEEEE;
        font-family: monospace;
        font-weight: bold;
    }

    h3 {
        z-index: 10;
        // position: relative;
        color: #00ADB5;
        font-family: monospace;
        font-weight: bold;
        overflow: hidden;

        .code {
            display: inline-block;

            // position: absolute;
            // bottom: -20px;
        }

    }





}

.whyuse {
    background-color: #393E46;
    display: flex;
    text-align: center;
    padding: 10vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        color: #00ADB5;
        font-size: 5vw;
    }

    p {
        font-size: 3vw;
        font-size: 30px;
    }

    h3 {
        font-size: 4vw;
        padding: 4vw;
        color: #EEEEEE;
        font-family: fantasy;
        letter-spacing: 5px;
        font-weight: 100;
    }

    .tellThem {
        text-align: center;

        h3 {
            color: #00ADB5;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

            span {
                font-weight: bold;
            }
        }

        // font-family: 'Courier New', Courier, monospace !important;
    }
}

footery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: cadetblue;
    padding: 10vw;
    align-items: center;
    justify-items: center;

    .left {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            padding: 20px;
        }
    }

    .right {
        font-size: 40px !important;
    }
}