@import 'resolution';



.navbar {
    .navbar-brand {
        font-weight: bold;

        font-family: monospace;
        font-size: 1.3em !important;
    }

    .avatar {
        width: 50px !important;
        height: 50px;
        border-radius: 25%;
        margin-right: 10px;
        background-color: rgb(32, 211, 231);
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
            margin: 0 !important;
        }

    }

}

body {
    background-color: rebeccapurple;
}

.form-class {

    width: 70% !important;
}


.notes-card {
    // text-align: center;
    background: rgb(124, 255, 222);
    min-height: 10%;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px 10%;

    margin: 10px;
    position: relative;
    height: 300px;
    line-height: 1.1em !important;
    transition: all 0.14s ease-in-out;


    .note-header {
        font-size: .5em;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            margin: 0 !important;
        }
    }

    .note-body {
        margin-bottom: 50px;
    }

    .btn {
        width: 30%;
        font-size: 12px;
        // display: none;
        opacity: 0;
        position: absolute;
        bottom: 10px;
        left: 35%;
        // transition: display 0.14s ease-in-out;

    }

    &:hover .btn {
        opacity: 1;
        display: block;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        // background-color: xred;
    }


}

.card-container {
    margin-top: 40px;

    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;

    align-items: flex-start;



    @include tablet {
        grid-template-columns: 1fr 1fr;
    }

    @include phone {
        grid-template-columns: 1fr;
    }

}

.popup-card {
    display: flex;
    justify-content: center;
    position: relative;
    // add shadow
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

    .doc {
        display: flex;
        flex-direction: column;
        background-color: rgb(136, 158, 255);
        border-radius: 10px;
        padding: 10px 10%;
        margin: 10px;
        position: fixed;
        width: 50%;
        overflow-y: scroll;
        max-height: 80vh;
        z-index: 10;
        transition: all 0.14s ease-in-out;

        b {
            padding: 13%;
        }

        .close {
            text-align: end;
        }
    }

    .hide {
        display: none;

    }



}