* {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 9vw;
}

h3 {
  font-size: 3vw;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #222831;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15vw;
  height: 85vh;
  text-align: center;
}

.intro h1 {
  color: #EEEEEE;
  font-family: monospace;
  font-weight: bold;
}

.intro h3 {
  z-index: 10;
  color: #00ADB5;
  font-family: monospace;
  font-weight: bold;
  overflow: hidden;
}

.intro h3 .code {
  display: inline-block;
}

.whyuse {
  background-color: #393E46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 10vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whyuse h2 {
  color: #00ADB5;
  font-size: 5vw;
}

.whyuse p {
  font-size: 3vw;
  font-size: 30px;
}

.whyuse h3 {
  font-size: 4vw;
  padding: 4vw;
  color: #EEEEEE;
  font-family: fantasy;
  letter-spacing: 5px;
  font-weight: 100;
}

.whyuse .tellThem {
  text-align: center;
}

.whyuse .tellThem h3 {
  color: #00ADB5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.whyuse .tellThem h3 span {
  font-weight: bold;
}

footery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-color: cadetblue;
  padding: 10vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

footery .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footery .left h3 {
  padding: 20px;
}

footery .right {
  font-size: 40px !important;
}

.navbar .navbar-brand {
  font-weight: bold;
  font-family: monospace;
  font-size: 1.5em !important;
}

body {
  background-color: rebeccapurple;
}

.form-class {
  width: 70% !important;
}

.notes-card {
  background: #7cffde;
  border-radius: 10px;
  padding: 10px 10%;
  height: 22%;
  overflow: hidden;
  margin: 10px;
  position: relative;
  -webkit-transition: all 0.14s ease-in-out;
  transition: all 0.14s ease-in-out;
}

.notes-card .note-header {
  font-size: .5em;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notes-card .note-header p {
  margin: 0 !important;
}

.notes-card .note-body {
  margin-bottom: 50px;
}

.notes-card .btn {
  width: 30%;
  font-size: 12px;
  opacity: 0;
  position: absolute;
  bottom: 10px;
  left: 35%;
}

.notes-card:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  background-color: azure;
}

.card-container {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: auto;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 768px) {
  .card-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 576px) {
  .card-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.popup-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.popup-card .doc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #889eff;
  border-radius: 10px;
  padding: 10px 10%;
  margin: 10px;
  position: fixed;
  width: 50%;
  overflow-y: scroll;
  max-height: 80vh;
  z-index: 10;
  -webkit-transition: all 0.14s ease-in-out;
  transition: all 0.14s ease-in-out;
}

.popup-card .doc b {
  padding: 13%;
}

.popup-card .doc .close {
  text-align: end;
}

.popup-card .hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */